.App {
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color: white;
}

.App-intro a {
  text-decoration: none;
  color: lightseagreen;
}

.Table {
  margin: 0 auto;
  max-width: 40em;
}

.Table form {
  margin: 1em 0;
}

.Table form strong {
  display: block;
}

.Table form label {
  display: inline-block;
  padding: .25em 0;
}

.Table table {
  text-align: left;
}

.Table table th,
.Table table td {
  padding: 0 .25em;
}